.homeSection {
  /* si quieres estilos para el section */
}
.homeContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.titleHome {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -2px;
  margin-bottom: 20px;
}